@charset "utf-8";
@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 500%;
  }
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 500%;
}
body {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.main {
  background: #68cdd5;
}
.header {
  width: 100%;
}
.header img {
  padding: 0.2rem 0 0.42rem 0.35rem;
  width: 54 /;
  height: 54;
}
.cont {
  width: 100%;
}
.cont img {
  margin: 0 auto;
  max-width: 1.82rem;
  max-height: 0.7rem;
  display: block;
  padding-bottom: 0.62rem;
}
.cont p {
  font-size: 0.2rem;
  line-height: 0.54rem;
  font-family: serif;
  color: #fff;
  padding: 0 10% 10% ;
  display: block;
}
.footer {
  width: 100%;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.footer div {
  width: 50%;
  float: left;
  text-align: center;
}
.footer img {
  margin: 0 auto;
}
.footer p {
  color: #FFFFFF;
  font-size: 0.2rem;
  margin: 0 auto;
  padding-bottom: 100%;
}
